# Telegram
BOT_TOKEN=5863784996:AAFH9Umnz8nfLn9AtY4XXnnAJMarT9LJcrI
WEBAPP_URL=https://food-diary-new.vercel.app
WEBHOOK_URL=https://https://food-diary-new.vercel.app/telegram/webhook

# Server
PORT=3000
NODE_ENV=production



# Firebase (опционально; без них данные в памяти — на Vercel не сохраняются!)
# FIREBASE_PROJECT_ID=
# FIREBASE_CLIENT_EMAIL=
# FIREBASE_PRIVATE_KEY=
